<h1 class="text-center">Course detail</h1>
<div class="row">
    <div class="col-3">
        <button class="btn btn-primary">Há»c ngay</button>
    </div>
    <div class="col-9">
        <h2>{{course.name}}</h2>
    </div>
</div>